.selectOtdel__button-arrowRight {
  width: 0;
  height: 0;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid green;
}

.selectOtdel__item:hover {
  opacity: .6;
}